{$DOMAIN} {
    # Automatic Let's Encrypt / ZeroSSL setup
    
    # Reverse proxy backend API calls (preserve /api prefix for ASP.NET Core)
    handle /api/* {
        import api_upstream.conf
    }

    # Reverse proxy AI simulation API calls and strip /ai prefix
    handle_path /ai/* {
        reverse_proxy simulation-engine:8000
    }

    # Reverse proxy frontend calls to Next.js server
    handle {
        reverse_proxy football-frontend:3000
    }
}
