# Ignore the fine-tuned GPT-2 model folder and all its contents
gpt2-football-finetuned*/
/.idea
.env
/.env
/football_api.log
football_api.log
.vscode/
.idea
logs
Guides&Docs
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
SimulatedMatches/
SimulationStatus/
HeaderLines/
InputTokens/
headerlines.*
performance_*.json
